.container{
    margin-left: 5px;
    margin-right: 5px;

    width: 100%;
    height: auto;

    // background-image: url(../../gazogenerators/img/fabric-background.jpg);
    // background-image: url(../../gazogenerators/img/bagraund-fon-gray-fabric.webp);
    // background-size:contain;
    // background-repeat: repeat;
    background-color: rgb(128, 120, 117);
    
}