.recours-master-title {
    font-family: 'Gill Sans';
    text-align: center;
    font-weight: 400;
    font-size: 25px;

    @media screen and (max-width: 400px) {
        font-size: 15px;

    }
}

.recours-title {
    font-family: 'Gill Sans';
    text-align:start;
    font-weight: 300;
    font-size: 25px;

    padding: 0;
    margin: 0;
    margin-right: 10px;

    @media screen and (max-width: 400px) {
        font-size: 10px;

    }

    @media screen and (min-width: 400px) {
        font-size: 20px;

    }
}

.recours__list {
    margin: 0;
    padding: 0;

    list-style: none;

    margin-top: 10px;

    margin-left: 5x;
    margin-right: 5px;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    



}

.recours__list-item{
   
    
    display: flex;
    flex-direction: column;
    justify-content:center;

    width: calc(100% - 6 * 5px) / 3;
    @media screen and (max-width:400px) {
        width: 200px;
    }
   
    height: auto;

    margin: 5px;

}
.recours__list-item:last-child{
    // margin-right: 0;
}

.recours-img {
    display: block;

    // width: 100%;
    max-width: 100%;
    height: auto;

}