.Total-Bacgraund{
    background: grey;
    margin: 10 10 10 10;
}
.class-h1{
    color: beige;
    font-size: 36px;
}
.class-h2{
    color: beige;
    font-size: 36px;
}
.class-h4{
    color: beige;
    font-size: 16px;
}
.class-h3{
    color: beige;
    font-size: 20px;
}